@media screen and (max-width: 1500px) {
  .slick-arrow {
    top: -50px;
    left: 10px;
  }
  .slick-next {
    right: 10px;
    left: auto;
  }
}
@media screen and (max-width: 1400px) {
  .store_img {
    width: 580px;
  }
  header .main_nav {
    order: 3;
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .store_img {
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
  }
  .store_content {
    max-width: 100%;
  }
  .store_title {
    max-width: 100%;
  }
  .store_products {
    margin: 0;
  }
  .store_product {
    width: 33%;
    margin-right: 0;
    padding-right: 30px;
  }
  .footer .main_nav {
    padding: 42px 0;
  }
	/* contacts */
	.contacts_info__num{
		max-width: 380px;
	}
	/* catalog */
	.catalog_in-item{
		padding-bottom: 115px;
	}
	.catalog_in-btns{
		flex-direction: column-reverse;
	}
	.catalog_in .btn-catalog, 
	.catalog_in .btn{
		margin: auto;
		width: 100%;
	}
	.catalog_in-btns{
		height: 122px;
	}
}
@media screen and (max-width: 980px) {
  .about_items {
    display: block;
  }
  .about_item {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-left: 130px;
    margin-bottom: 60px;
  }
  .about_title__nature {
    background-position: 15px center;
  }
  .about_title__choose {
    background-position: 0px center;
  }
  .about_title__premium {
    background-position: 30px center;
    margin-bottom: 0;
  }
  .section {
    padding: 50px 0;
  }
  footer {
    padding: 50px 0;
  }
  .footer .main_nav {
    text-align: center;
  }
  .footer .main_list-item {
    display: block;
    line-height: 35px;
  }

	/* ==========pages========= */
	/* about */
	.about_intro{
		flex-direction: column-reverse;
	}
	.about_intro-img-wrap{
		width: 100%;
		padding: 0;
	}
	.about_intro-content-wrap{
		width: 100%;
		padding-bottom: 30px;
	}
	/* news */
	.news_card{
		max-width: 50%;
		padding-bottom: 20px;
	}
	/* news-article */
	.news_article-img-wrap{
		margin: 0 30px 30px 0;
	}
	/* contacts */
	.contacts_in-wrap{
		flex-direction: column;
		padding-bottom: 20px;
	}
	.contacts_info{
		max-width: 100%;
		padding: 20px 0;
	}
	.contacts_map iframe{
		height: 300px;
	}
		/* catalog */
	.catalog_in-item{
		width: 48%;
	}
	
	/* catalog-card */
	.catalog-card_in-wrap{
		flex-direction: column;
	}
	.catalog-card_in-side{
		border-left: none;
		padding-left: 0;
	}
	.catalog-card_in-same-flex{
		display: flex;
	}
	.catalog-card_in-same{
		margin-right: 30px;
	}
}
@media screen and (max-width: 768px) {
	.section{
		padding: 20px 0;
	}
  .main_nav {
    display: none;
  }
  .burger-btn {
    display: block;
  }
	.main_contacts{
		width: auto;
		text-align: right;
		flex-direction: column-reverse;
	}
	.main_contacts{
		display: none;
	}
	.main_list-item{
		display: block;
		padding: 15px;
	}
	.head_title{
		font-size: 42px;
		line-height: 1.3;
	}
	/* ==========pages========= */
	/* about */
	.about_cards{
		padding-top: 0;
	}
	.about_cards-wrap{
		flex-direction: column;
	}
	.about_card-wrap{
		width: 100%;
	}
	/* news */
	.news_in{
		padding-bottom: 0;
	}
	.news_cards-wrap{
		margin: 0;
		padding: 0;
	}
	.news_card{
		max-width: 100%;
		padding: 0 0 40px;
		text-align: center;
	}
	.news_img-wrap{
		width: 80%;
		margin: auto;
	}
	.news_card .border_title::after{
		left: 50%;
		margin-left: -28px;
	}
	/* news-article */
	.news_article{
		padding: 0;
	}
	.news_article-img-wrap{
		margin: auto;
		float: none;
		width: 100%;
	}
	.news_article-title::after{
		margin: 0;
		left: 0;
	}
	.news_in .btn{
		margin: auto;
	}
	/* catalog */
	.catalog_in-item{
		padding-bottom: 0;
		margin-bottom: 40px;
	}
	.catalog_in-item{
		width: 100%;
		text-align: center;
	}
	.catalog_in-img-wrap{
		max-width: 300px;
		margin: auto;
	}
	.catalog_in-btns{
		position: static;
	}
	.catalog_in .btn-catalog, 
	.catalog_in .btn{
		max-width: 300px;
	}
	.border_title, .catalog_in-desc{
		padding: 7px 0 10px;
	}
	.border_title::after{
		left: 50%;
		margin-left: -27px;
	}
	/* catalog-card */
	.catalog-card_body{
		flex-direction: column;
	}
	.catalog-card_body-img-wrap{
		width: 70%;
		margin: auto;
	}
	.catalog-card_body-order{
		width: 70%;
		padding: 20px 0;
		margin: auto;
	}
	.catalog-card_in-same-flex{
		flex-direction: column;
	}
	.catalog-card_in-same{
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.catalog-card_in-same-title{
		text-align: center;
	}
	.catalog-card_in-same-img-wrap,
	.catalog-card_in-same .btn-more{
		margin: auto;
	}
}
@media screen and (max-width: 480px) {
	.container{
		padding: 0 10px;
	}
	.head_content{
		padding: 50px 0;
	}
	.head_title{
		font-size: 32px;
	}
	.section_title{
		font-size: 28px;
		line-height: 1.3;
	}
	.store_products{
		flex-direction: column;
	}
	.store_product{
		width: 100%;
		padding: 10px 0 10px 45px;
		background-position: left center;
	}
	.about_title__nature{
		padding-left: 85px;
		background-size: 70px 70px;
		background-position: 5px center;
	}
	.about_title__choose{
		padding-left: 85px;
		background-size: 75px 65px;
		background-position: left center;
	}
	.about_title__premium{
		padding-left: 85px;
		background-size: 55px 65px;
		background-position: 10px center;
	}
	.form_inputs{
		flex-direction: column;
		padding-top: 25px;
	}
	.form_input-wrap{
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
	.form_input{
		margin: 0 0 20px;
	}
	.form_textarea-wrap{
		padding-bottom: 0;
	}
	.footer_desc-wrap{
		flex-direction: column-reverse;
	}
	.footer_desc{
		padding: 10px 0 0;
	}
	.main_number-link{
		font-size: 16px;
	}
	.product_title{
		text-align: center;
		padding: 20px 20px 0;
	}
	/* ==========pages========= */
	/* about */
	.about_in{
		padding-bottom: 10px;
	}
	.about_intro{
		padding: 0;
	}
	.about_intro-item {
    padding: 7px 0 7px 54px;
    background-position: left 8px;
	}
	.about_intro-desc,
	.about_intro-txt{
		font-size: 18px;
	}
	.about_cards{
		padding-top: 0;
	}
	.about_cards-wrap{
		flex-direction: column;
	}
	.about_card-wrap{
		width: 100%;
	}
	.about_card{
		padding: 30px 25px;
	}
	/* about */
	.catalog_in-wrap{
		flex-direction: column;
	}
	.catalog_in-nav-wrap{
		padding: 15px 0;
		display: none;
		max-width: 100%;
	}
	.catalog_in-nav{
		border: none;
	}
	.catalog_in-list{
		margin: 0;
	}
	.catalog_in-link{
		padding: 10px;
	}
	.catalog_in .section_title{
		position: relative;
	}
	.catalog_burger{
		position: absolute;
		right: 0;
		top: 4px;
		width: 40px;
		height: 30px;
		cursor: pointer;
	}
	.catalog_burger i {
		position: absolute;
		top: 1px;
		left: 0;
		width: 40px;
		height: 4px;
		border-radius: 10px;
		background: #000;
		transition: 0.1s;
	}
	.catalog_burger i::before,
	.catalog_burger i::after {
		content: "";
		position: absolute;
		width: 40px;
		border-radius: 10px;
		height: 4px;
		left: 0;
		top: 12.5px;
		background: inherit;
		transition: 0.1s;
	}
	.catalog_burger i::after {
		top: 25px;
	}
	.catalog_burger-active i{
		width: 45px;
		transform: rotate(34deg);
		top: 14px;
		left: -3px;
	}
	.catalog_burger-active i::after {
		width: 45px;
		transform: rotate(-68deg);
		top: 0;
	}
	.catalog_burger-active i::before {
		display: none;
	}
	/* catalog-card */
	.catalog-card_body-img-wrap{
		width: 100%;
	}
	.catalog-card_body-order{
		width: 100%;
	}
}
