html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
input,
textarea {
  font-size: 16px;
  width: 100%;
  font-family: inherit;
}
body {
  font-size: 16px;
  line-height: 1.3;
  color: #000;
  width: 100%;
  font-family: "GilroyRegular", arial, sans-serif;
}
.container {
  max-width: 1380px;
  padding: 0 30px;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}
.btn {
  background: #fce000;
  border-radius: 30px;
  line-height: 46px;
  font-size: 16px;
  font-family: "GilroyMedium", arial, sans-serif;
  width: 198px;
  transition: 0.3s;
	display: block;
	text-align: center;
	margin: auto;
}
.btn:hover {
  color: #fff;
  background: #303631;
}
.btn-wrap {
  text-align: center;
  padding: 30px 0 0;
}
.section_title {
  font-size: 36px;
  line-height: 44px;
  font-family: "GilroyBold", arial, sans-serif;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 0.2px;
}
.left_title{
	text-align-last: left;
}
header{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.14);
}
.head-white {
  background: url(../img/main_bg.jpg) center fixed no-repeat;
  background-size: cover;
  color: #fff;
}
.head-white .main_link-svg{
	fill: #fff;
}
.head-white .main_list-link:hover{
	border-color: #fce000;
}
.head-black .burger-btn i{
	background: #000;
}
.head {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
	order: 1;
}
.burger-btn i {
  position: absolute;
  top: 1px;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background: #fff;
	transition: 0.1s;
}
.burger-btn i::before,
.burger-btn i::after {
  content: "";
  position: absolute;
  width: 40px;
  border-radius: 10px;
  height: 4px;
  left: 0;
  top: 12.5px;
  background: inherit;
	transition: 0.1s;

}
.burger-btn i::after {
  top: 25px;
}
.burger-active i{
	width: 45px;
	transform: rotate(34deg);
	top: 14px;
	left: -3px;
}
.burger-active i::after {
	width: 45px;
	transform: rotate(-68deg);
	top: 0;
}
.burger-active i::before {
	display: none;
}
.main_logo {
  display: block;
  width: 157px;
  height: 72px;
}
.main_nav {
  width: 100%;
  max-width: 650px;
  text-align: right;
  padding: 24px 28px 0;
}
.main_list-item {
  display: inline-block;
  padding: 0 17px;
}
.main_list-link {
  padding: 5px 8px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
}
.main_list-link__active {
  border-color: #333;
}
.main_list-link:hover{
  border-color: #333;
}
.main_contacts {
  display: flex;
  width: 502px;
  justify-content: space-between;
  padding-top: 25px;
  font-family: "GilroySemibold", arial, sans-serif;
  font-size: 20px;
}
.main_number {
  padding-top: 11px;
  white-space: nowrap;
}
.main_number-link:hover {
  color: #fce000;
}
.main_links {
  padding-top: 8px;
}
.main_link {
  display: inline-block;
  width: 31px;
  height: 31px;
}
.main_link-svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #333;
  transition: 0.3s;
}
.main_link:hover .main_link-svg {
  fill: #fce000;
}
.main_link__inst {
  margin-right: 18px;
}
.main_content {
  max-width: 530px;
  padding: 180px 0 0;
}
.head_title {
  text-transform: uppercase;
  font-family: "GilroyExtrabold", arial, sans-serif;
  font-size: 62px;
  line-height: 75px;
}
.head_desc {
  font-family: "GilroyMedium", arial, sans-serif;
  padding: 24px 0 44px;
  line-height: 24px;
}
.btn-more {
  background: transparent;
  border-radius: 30px;
  border: 2px solid #fff;
  line-height: 42px;
  width: 198px;
  font-family: "GilroyMedium", arial, sans-serif;
  color: #fff;
  transition: 0.3s;
}
.btn-more:hover {
  background: #fce000;
  color: #000;
  border-color: #fce000;
}
.head_content {
  padding: 181px 0 202px;
  max-width: 500px;
}

.about {
  padding: 60px 0;
}
.about_items {
  display: flex;
  justify-content: space-between;
}
.about_item {
  max-width: 350px;
  min-height: 81px;
  padding: 18px 0 0;
  background-size: auto 81px;
  font-size: 18px;
}
.about_title__nature {
  padding-left: 110px;
  width: 315px;
  background: url(../img/ic_about__1.png) center left no-repeat;
}
.about_title__choose {
  padding-left: 135px;
  width: 340px;
  background: url(../img/ic_about__2.png) center left no-repeat;
}
.about_title__premium {
  padding-left: 90px;
  width: 258px;
  background: url(../img/ic_about__3.png) center left no-repeat;
}

.store {
  background: #f8f8f8;
  padding: 90px 0;
}
.store-in {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.store_content {
  max-width: 537px;
  padding: 12px 0;
}
.store_title {
  max-width: 400px;
  text-align: left;
}
.store_descr {
  padding: 12px 0 17px;
  line-height: 24px;
}
.store_products {
  display: flex;
  flex-wrap: wrap;
  margin-right: -70px;
}
.store_product {
  display: inline-block;
  padding: 50px 0 0;
  width: 160px;
  font-family: "GilroySemibold", arial, sans-serif;
  background: url(../img/bow.png) top left no-repeat;
  margin: 30px 42px 0 0;
}
.store_img {
  width: 708px;
}

.products {
  background: url(../img/products_bg.jpg);
  padding: 80px 0 89px;
}
.products_slider {
  margin: 66px -10px 49px;
  position: relative;
}
.products_slide {
  padding: 0 10px;
}
.product_img-wrap {
  max-width: 427px;
}
.slick-arrow {
  position: absolute;
  background: url(../img/ic_arrow.png);
  width: 36px;
  height: 36px;
  color: transparent;
  z-index: 1;
  left: -65px;
  top: 43%;
  transition: 0.3s;
}
.slick-next {
  transform: rotate(180deg);
  left: auto;
  right: -65px;
}
.product_title {
  font-size: 22px;
  font-family: "GilroyBold", arial, sans-serif;
  display: block;
  padding-top: 23px;
}

.special {
  padding: 88px 0 104px;
  background: url(../img/special_bg.jpg) center fixed no-repeat;
  background-size: cover;
}
.special_title {
  color: #fff;
  padding-bottom: 10px;
}
.special_sale {
  color: #fce000;
  display: block;
}
.special_desc {
  text-align: center;
  max-width: 580px;
  margin: auto;
  color: #fff;
  padding: 26px 0 4px;
}

.form {
  padding: 104px 0 132px;
}
.form_title span {
  display: block;
}
.form_desc {
  margin: auto;
  max-width: 300px;
  text-align: center;
  padding-top: 8px;
}
.form_inputs {
  display: flex;
  justify-content: space-between;
}
.form_input-wrap {
  max-width: 418px;
  width: 31%;
}
.form_input {
  border: 1px solid #dedede;
  line-height: 48px;
  padding: 0 22px;
  margin: 42px 0;
}
.form_textarea {
  border: 1px solid #dedede;
  padding: 15px 22px;
  resize: none;
  height: 110px;
}
.form_textarea-wrap {
  padding-bottom: 20px;
}
.form_info-wrap {
  padding-top: 32px;
}
.from_info {
  text-align: center;
  display: block;
  padding-bottom: 12px;
  font-size: 12px;
}
.red-text {
  color: #bf273a;
  display: inline-block;
  border-bottom: 1px solid #bf273a;
}

footer {
  background: #303631;
  color: #fff;
  padding: 110px 0 99px;
}
.footer {
  padding-bottom: 44px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.footer .main_logo {
  width: 136px;
  height: 209px;
}
.footer .main_nav {
  padding: 42px 21px 0;
  max-width: 885px;
}
.footer .main_list {
  font-size: 18px;
  font-family: "GilroyMedium", arial, sans-serif;
}
.footer .main_list-item {
  padding: 0 25px;
}
.footer .main_number {
  font-size: 20px;
  font-family: "GilroySemibold", arial, sans-serif;
}
.footer .main_contacts {
  display: block;
  text-align: right;
  width: 200px;
  padding-top: 32px;
}
.footer .main_number {
  padding-bottom: 34px;
}
.footer_desc-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
.footer_desc {
  display: block;
  font-size: 14px;
}
.footer .main_link-svg{
	fill: #fff;
}

/* page_nav */
.page_nav{
	padding: 31px 0 10px;
	font-size: 14px;
}
.page_nav-link{
	display: inline-block;
	padding: 10px 30px 10px 0;
	position: relative;
	margin-right: 10px;
}
span.page_nav-link{
	padding-right: 0;
	margin-right: 0;
}
.page_nav-arrow{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
	width: 8px;
	height: 14px;
}
.page_nav-arrow::before, 
.page_nav-arrow::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 8px;
	background: #7e7e7e;
	transform: rotate(45deg);
	top: 50%;
	left: 0;
}
.page_nav-arrow::after{
	transform: rotate(-45deg);
	top: 1px;
}

/* ========================== */
/* ==========ABOUT=========== */
.page_in{
	padding: 25px 0 56px;
}
.about_intro{
	display: flex;
	padding-top: 36px;
}
.about_intro-img-wrap{
	padding-right: 50px;
	max-height: 396px;
	overflow: hidden;
	width: 50%;
}
.about_intro-content-wrap{
	width: 50%;
	padding-top: 11px;
}
.about_intro-txt{
	padding-bottom: 27px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 22px;
	font-family: "GilroySemibold", arial, sans-serif;
	line-height: 35px;
}
.about_intro-list{
	padding-top: 10px;
}
.about_intro-desc{
	padding-top: 29px;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	font-family: "GilroySemibold", arial, sans-serif;
}
.about_intro-item{
	font-size: 18px;
	padding: 25px 0 17px 54px;
	background: url(../img/ic_check.png) left 26px no-repeat;
}
.about_cards{
	padding-bottom: 119px;
}
.border_bottom{
	border-bottom: 1px solid #dbdbdb;
}
.about_cards-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -15px;	
}
.about_card-wrap{
	width: 50%;
	padding: 15px;
}
.about_card{
	background: #f8f8f8 url(../img/about_card-1.png) right bottom no-repeat;
	padding: 51px 50px 50px 55px;
	height: 100%;
	min-height: 355px;
}
.about_card-2{
	background-image: url(../img/about_card-2.png);
}
.about_card-3{
	background-image: url(../img/about_card-3.png);
}
.about_card-title{
	font-family: "GilroySemibold", arial, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.border_title{
	position: relative;
	display: block;
}
.border_title::after{
	content: "";
	position: absolute;
	width: 55px;
	height: 3px;
	background: #333;
	left: 0;
	bottom: 2px;
}
.about_card-txt{
	padding: 25px 0;
	line-height: 24px;
}

/* ========================== */
/* ==========NEWS=========== */

.news_cards-wrap{
	margin: 0 -27px;
	display: flex;
	flex-wrap: wrap;
	padding: 35px 0 40px;
}
.news_card{
	max-width: 33.3%;
	padding: 0 27px;
}
.news_title{
	font-size: 22px;
	padding: 23px 0 21px;
	font-family: "GilroyBold", arial, sans-serif;
}
.news_desc{
	font-size: 14px;
	line-height: 24px;
	padding: 15px 0 28px;
}
.news_in .btn{
	margin-left: 0;
}

/* ========================== */
/* ==========Contacts======== */

.contacts_in-wrap{
	display: flex;
	justify-content: space-between;
	padding-bottom: 43px;
}
.contacts_info__num{
	max-width: 464px;
	width: 100%;
}
.contacts_info-card-wrap,
.contacts_map{
	padding-top: 30px;
}
.contacts_info-card{
	background: #f8f8f8;
	margin-bottom: 18px;
	padding: 38px;
}
.contacts_info-card-name{
	font-size: 18px;
	display: block;
	padding-bottom: 15px;
}
.contacts_info-card-txt{
	font-size: 22px;
	font-family: "GliroySemibold", arial, sans-serif;
}
.contacts_info__map{
	width: 100%;
	padding-left: 61px;
}

/* ========================== */
/* ==========NEWS-ARTICLE===== */
.news_article{
	padding: 32px 0 68px;
}
.news_article-img-wrap{
	width: 50%;
	float: left;
	margin: 0 60px 45px 0;
}
.news_article-content{
	padding: 11px 0 0;
}
.news_article-title{
	font-size: 22px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	padding-top: 3px;
	font-family: "GliroyBold", arial, sans-serif;
}
.news_article-title::after{
	left: 50%;
	margin-left: 60px;
}
.news_article-txt{
	padding-bottom: 30px;
	line-height: 24px;
}
.news_article-txt__main{
	font-size: 18px;
	padding-bottom: 23px;
	line-height: 30px;
}

